/*
 * main.css
 */

a {
    text-decoration: none;
}

body {
    padding-top: 20px;
}

.post_header {
    border-left: solid 5px black;
    padding-left: 5px;
    margin-bottom: 1em;
}

.post_title {
    font-size: x-large;
    font-weight: bold;
}

.post_date {
    font-family: monospace;
}

.post {
    margin-bottom: 5px;
    border-bottom: 1px dashed gray;
}

.main-banner {
    background-image:url("/img/sensor_version_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    color: white;
    border-radius: 15px 50px;
}

.main-banner small {
    color: lightgray;
}

.footer {
    text-align: right;
    margin-top: 10px;
}
