/*
 * main.css
 */

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
}

body {
    //background-color: #F2F4F5;
    padding-top: 60px;
    margin-bottom: 60px;
}

.navbar {
    font-family: monospace;
}

h2 .selector {
    font-size: x-small;
}

.page {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.page section {
    padding: 5px;
}

.page section h2 {
    font-family: 'TheSerifOffice',georgia,serif;
}

.post_header {
    border-left: solid 5px black;
    padding-left: 5px;
    margin-bottom: 1em;
}

.post_title {
    font-size: x-large;
    font-weight: bold;
}

.post_date {
    font-family: monospace;
}

.post {
    margin-bottom: 5px;
    border-top: 1px dashed gray;
}

/*footer {
    margin-top: 2em;
    text-align: right;
    font-family: monospace;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #dddddd;
    padding-top: 5px;
}

ul p {
    margin-top: 10px;
}
