<div class="row">

 <div class="col-md-4">
   <img alt="Halloween Icon" src="/img/Halloween.png" /> <span class="badge">Halloween 2012</span> - since 09/2012
   <br /><a href="https://github.com/nrdufour/dropping-spider/">https://github.com/nrdufour/dropping-spider/</a>
   <blockquote>Little dropping spider triggered by anybody passing by ;-). Powered by arduino and Adafruit devices.</blockquote>
 </div>

 <div class="col-md-4">
   <img alt="Refuge logo Icon" src="/img/refuge-32x32.jpg" /> <span class="badge">Refuge</span> - since 2011
   <br /><a href="http://refuge.io/">http://refuge.io/</a>
   <blockquote>Aims to provide a fully decentralized and opensource data platform allowing to exchange data, process/render it and follow its life (translinks and links).</blockquote>
 </div>

 <div class="col-md-4">
   <img alt="Similar project icon" src="/img/similar2.png" /> <span class="badge">Similar</span> - since 05/2009
   <br /><a href="https://github.com/nrdufour/similar/">https://github.com/nrdufour/similar/</a>
   <blockquote>Distributed Discrete Event Simulation Engine written in Erlang.</blockquote>
 </div>

</div>