<img alt="CapNemo face manga image" src="/img/capnemo.png" class="img-responsive img-rounded" /> <br /> <br />

<img alt="github icon" src="https://github.com/favicon.ico" /> <a href="http://www.github.com/nrdufour">Github</a><br />
<img alt="twitter icon" src="/img/socialmediaicons/twitter-32x32.png" /> <a href="http://www.twitter.com/nrdufour">Twitter</a><br />
<img alt="linkedin icon" src="/img/socialmediaicons/linkedin-32x32.png" /> <a href="http://www.linkedin.com/in/nrdufour">LinkedIn</a><br />
<img alt="flickr icon" src="/img/socialmediaicons/flickr-32x32.png" /> <a href="http://www.flickr.com/photos/nrdufour/">Flickr</a><br/>
<img alt="Refuge icon" src="/img/refuge-32x32.jpg" /> <a href="http://io.nemoworld.info/_utils">RCouch</a>